body {
    background-color: #F0EBE3;
}

body:hover {
    background-color: #E4DCCF;
}

.head {
    display: flex;
    justify-content: flex-end;
    background-color:#7D9D9C;
    padding: 10px;
}

.item {
    color: #2C3333;
    padding: 10px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Taviraj', serif;
}

.item:hover {
    color: white;
    background-color: #C6DCE4;
}

.left {
    margin-right: auto;
    font-size: 20px;
}

.house {
    display: flex;
}

.heading {
    display: flex;
    flex-direction: column;
}

h1 {
    color: #2C3333;
    padding: 10px;
    margin: auto;
    text-transform: uppercase;
    font-family: 'Taviraj', serif;
}

h1:hover {
    color: #BB6464;
}

.text {
    color: #2C3333;
    font-size: 25px;
    padding: 30px;
    font-family: 'Taviraj', serif;
}

.video {
    display: flex;
    justify-content: flex-end;
}

#myVideo {
    width: 600px;
}

.form-video {
    display: flex;
    justify-content: space-between;
}

.heading-3 {
    display: flex;
    justify-content: center;
}

h3 {
    color: #2C3333;
    padding: 5px;
    text-transform: uppercase;
    font-family: 'Taviraj', serif;
}

h3:hover {
    color: #BB6464;
}

.label {
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    font-family: 'Taviraj', serif;
    color: #2C3333;
    font-size: 15px;
}

.btn {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.cta {
    background-color: #7D9D9C;
    color: #2C3333;
    text-transform: uppercase;
    flex: 1;
    margin-left: 100px;
    margin-right: 100px;
    padding: 5px;
    font-size: 20px;
    border-radius: 10px;
    border: #A5C9CA solid 3px;
    cursor: pointer;
    font-family: 'Taviraj', serif;
}

.cta:hover {
    background-color: #A5C9CA;
    transition-duration: 2s;
}

.text-company {
    color: #2C3333;
    font-size: 20px;
    font-family: 'Taviraj', serif;
}

hr {
    border: #7D9D9C solid 5px;
}

.worker-company {
    display: flex;
    justify-content: space-around;
}

.worker-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
    padding: 20px;
    flex: auto;
}

.foto {
    align-self: center;
}

.you-foto {
    align-self: center;
}
.calk {
    align-self:flex-start;
}

table {
    background-color: #E4DCCF;
    border: #7D9D9C solid 3px;
    margin: 0 auto;
}

th, td {
    border: #7D9D9C solid 3px;
    padding: 5px;
    color: #2C3333;
    font-size: 20px;
    font-family: 'Taviraj', serif;
}

.price {
    display: flex;
    justify-content:space-around;
}

.h3-price {    
    color: #2C3333;
    padding: 10px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: 'Taviraj', serif;
}

h3-price:hover {
    color: #BB6464;
}

@media all and (max-width: 820px) {
    body {
        background-color: #F5F0BB;
    }
    .head {
        padding: 6px;
        font-size: 10px;
        background-color:#73A9AD;
    }    
    .item {
        padding: 6px;
    }
    .left {
        font-size: 12px;
    }
    .calk {
        width: 200px;
        margin: auto;
    }
    h1 {
        padding: 3px;
        font-size: 12px;
        margin-left: 50px;
    }   
    .text {
        font-size: 12px;
        padding: 6px;
    }
    #myVideo {
        width: 200px;
        margin: auto;
    }
    .heading-3 {
        font-size: 12px;
    }
    
    h3 {
        font-size: 12px;
        padding: 6px;
    }
    .label {
        font-size: 8px;
    }   
    .btn {
    font-size: 12px;
    flex: 1;
    }   
    .cta {
        padding: 6px;
        font-size: 12px;
        background-color: #73A9AD;
    }
    input {
        font-size: 8px;        
    }
    .text-company {
        font-size: 12px;
    }
    hr {
        border: #73A9AD solid 3px;
    }
    .worker-company {
        font-size: 12px;
    }   
    .worker-1 {
        font-size: 12px;
    }    
    .you-foto {
        width: 100px;
    }
    table {
        border: #73A9AD solid 1px;
    }
    th, td {
        padding: 6px;
        font-size: 12px;
    }
    .h3-price {    
        font-size: 15px;
        padding: 6px;
    }
}




@media all and (max-width: 500px) {
    body {
        background-color: #F5F0BB;
    }
    .head {
        padding: 4px;
        font-size: 8px;
        background-color:#73A9AD;
    }    
    .item {
        padding: 4px;
    }
    .left {
        font-size: 10px;
    }
    .house {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .calk {
        width: 100%;
        margin: auto;
    }
    h1 {
        padding: 2px;
        font-size: 12px;
        margin-left: 90px;
    }   
    .text {
        font-size: 12px;
        padding: 2px;
    }
    .video {
        display: flex;
        flex-direction: column-reverse;
    }    
    #myVideo {
        width:100%;
        margin: auto;
    }
    .heading-3 {
        font-size: 3px;
    }
    
    h3 {
        font-size: 10px;
        padding: 1px;
    }
    .label {
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }   
    .btn {
    font-size: 10px;
    flex: 1;
    }   
    .cta {
        padding: 2px;
        font-size: 6px;
        background-color: #73A9AD;
    }
    input {
        font-size: 12px;        
    }
    .text-company {
        font-size: 12px;
    }
    hr {
        border: #73A9AD solid 3px;
    }
    .worker-company {
        font-size: 4px;
    }   
    .worker-1 {
        font-size: 4px;
    }    
    .you-foto {
        width: 80px;
    }
    .price {
        display: flex;
        flex-direction: column;
    }
    table {
        border: #73A9AD solid 1px;
    }
    th, td {
        padding: 3px;
        font-size: 12px;
    }
    .h3-price {    
        font-size: 12px;
        padding: 3px;
    }
}